<div id="header">
    <%= render "shared/merchant_facade_header" %>
</div>

<div id=invoice-details>
    <h1> Invoice #<%= @facade.invoice.id %> </h1>

    <p> Status: <%= @facade.invoice.status %> </p><br>

    <p> Created on: <%= @facade.invoice.created_at.strftime("%A, %B %d, %Y") %> </p><br>

    <p> Total Revenue: <%= number_to_currency(@facade.invoice.total_revenue) %> </p><br>

    <p> Total Discounted Revenue: <%= number_to_currency(@facade.discounted_rev) %> </p><br>

    <h2> customer: </h2>
    <p>  <%= @facade.invoice.customer.first_name  %> <%= @facade.invoice.customer.last_name  %> </p>
</div>
<div id=item-details>
    <h2> Items on this invoice: </h2>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Discounts Applied</th>
            <th>Status</th>
        </tr>
        <% @facade.merchant.get_invoice_items(@facade.invoice.id).each do |invoice_item| %>
            <tr>
                <td><%= invoice_item.item.name %></td>
                <td><%= invoice_item.quantity %></td>
                <td><%= number_to_currency(invoice_item.unit_price.to_f/100 ) %></td>
                <td>
                    <% if @facade.discount_stats[invoice_item.id.to_s] == nil %>
                        <%= 'N/A' %>
                    <% else %>
                        <%= link_to @facade.discount_stats[invoice_item.id.to_s][1], merchant_discount_path(@facade.merchant, @facade.discount_stats[invoice_item.id.to_s][0]) %>
                    <% end %>
                </td>
                <td><%= form_with url: "/merchants/#{@facade.merchant.id}/invoices/#{@facade.invoice.id}/?invoice_item_id=#{invoice_item.id}", method: :patch, local: true do |f| %>
                    <%= f.select :status, options_for_select(['pending', 'packaged', 'shipped'], invoice_item.status) %>
                    <%= f.submit "Update Item Status"%>
                    <% end %>
                    </td>
            </tr>
        <% end %>
    </table>
</div>